/*
	Name: sanderdegoeij.com
	Date: May 2010
	Description: Main styles for my site
	Version: 1.0
	Author: Sander de Goeij
	Autor URI: http://sanderdegoeij.com
*/

/* Imports */
@import url("reset.css");

/*** Global styles ***/
body {
  background: #000 url('../images/dark_stripes.gif') repeat top left;
  color: #000305;
  font-size: 87.5%; /* Base font size: 14px */
  font-family: 'Droid Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
}